$gunmetal-1: #202C39;
$gunmetal-2: #283845;
$sage: #B8B08D;
$deep-champagne: #F2D492;
$atomic-tangerine: #F29559;
$white: #FFFFFF;
$black: #000000;

/* USAGE */

/* header */
$header-bg: $gunmetal-1;
$header-color: $deep-champagne;